<section>
  <div class="m-auto pt-4 pb-5 text-center">
    <h1 class="white-text font01">{{message}}</h1>
    <h2 class="white-text font01">{{error.status}}</h2>
    <pre class="white-text font01">{{error.stack}}</pre>
  </div>
</section>