<section class="view-profile">
  <div class="col center tac">
    <span class="h4">404</span>
    <span class="h5">{{message}}</span>
    <h2 class="white-text font01">{{error.status}}</h2>
    <pre class="white-text font01">{{error.stack}}</pre>
  </div>
</section>